<main class="move">




        <section id="inicio" class="hero-container d-flex align-items-center justify-content-center"
           >
            <div id="heroText" class="home-content opacity-0 hideText">
                <h1 class="display-3 fw-bold">Eduardo Amaurys Baez</h1>
                <p class="fs-4">Fullstack Developer</p>
            </div>
        </section>



    <div class="container">
        <section id="AboutMe" class="AboutMe">
            <h1 class="sub-title">Sobre Mi</h1>
            <p>¡Hola! Soy Eduardo. Soy Estudiante de Ingeniería de Software apasionado por la tecnología, 
                la lectura y el aprendizaje; soy una persona responsable, empático, dedicado y curioso. 
                Apunto a crecer profesionalmente como Desarrollador Web Fullstack. 
           
        
        </p>
        <p>Tengo conocimientos en diferentes áreas tantos del Frontend como del Backend, al mismo tiempo que se utilizar diferentes tecnologías y herramientas. 
            Buscando estar en constante formación y llevar lo aprendido a la práctica, Me encantaría formar parte de proyectos que me permitan desarrollarme como 
            profesional y mejorar mis habilidades, así como también colaborar con un equipo de trabajo para cumplir objetivos.
             
    </p>


            <div class="row">
                <div class="about-col-1">
                    <img src="assets/Foto1.jpeg" alt="">


                </div>
                <div class="about-col-2">
                    <div class="row">
                        <div class="education">
                            <h3 class="titulo_data"> <span><i class="uil uil-graduation-cap"></i>Educación</span></h3>
                            <div class="datos_container">
                                <div class="datos_educacion">
                                    <div>
                                        <h3 class="qualification_title"> Ing. Software</h3>
                                        <i class="uil uil-calendar-alt">Ene. 2020 - Presente</i>
                                        <div class="ano">
                                            <span class="ano_subtitle">Universidad Central del Este</span>
                                           <p class="ano_subtitle">Estudiante de Termino de la Carrera de Ingeniería de Software, Cursando actualmente el 10mo Semestre.
                                            </p>
                                        </div>

                                    </div>
                                    <div>
                                        <span class="rounder"></span>
                                        <span class="line"></span>


                                    </div>


                                </div>
                                <div class="datos_educacion">
                                    <div></div>
                                    <div>
                                        <span class="rounder"></span>
                                        <span class="line"></span>
                                    </div>
                                    <div>
                                        <h3 class="qualification_title"> It Essentials</h3>
                                        <i class="uil uil-calendar-alt">Ene. 2022 - Abril 2022</i>
                                        <div class="ano">
                                            <span class="ano_subtitle">Cisco</span>
                                            <p class="ano_subtitle">Curso donde se estudiaron y practicaron diferentes formas de armar, reparar y
                                                actualizar computadoras personales; ademas de administrar y dar mantenimiento a sistemas operativos.
                                            </p>
                                        </div>

                                    </div>



                                </div>
                             
                            </div>

                        </div>

                        <div class="headerDivider"></div>

                        <div class="experience">
                            <h3 class="titulo_data"> <span><i class="uil uil-briefcase-alt"></i>Experiencia</span></h3>
                            <div class="datos_educacion">
                                <div>
                                    <h3 class="qualification_title"> FullStack Developer</h3>
                                    <i class="uil uil-calendar-alt">Ene. 2020 - Presente</i>
                                    <div class="ano">
                                        <span class="ano_subtitle">Freelancer</span>
                                        <p class="ano_subtitle">Desarrollo de proyectos personales ademas de proyectos curriculares a fin de desarrollar mis habilidades.
                                        </p>

                                    </div>

                                </div>
                                <div>
                                    <span class="rounder"></span>
                                    <span class="line"></span>


                                </div>


                            </div>
                            <div class="datos_educacion">
                                <div></div>
                                <div>
                                    <span class="rounder"></span>
                                    <span class="line"></span>
                                </div>
                                <div>
                                    <h3 class="qualification_title"> Soporte Tecnico y Mantenimiento</h3>
                                    <i class="uil uil-calendar-alt">Ago. 2018 - Enero 2020</i>
                                    <div class="ano">
                                        <span class="ano_subtitle">Oficina Juridica Mejia</span>
                                        <p class="ano_subtitle">Encargado de dar soporte tecnico y mantenimiento preventivo a las computadoras usadas, ademas de armarlas,
                                            repararlas o actualizarlas.
                                        </p>
                                    </div>

                                </div>



                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>


            <!-- <h2>Sobre Mi</h2>
                    <p>
                        <span>Hola soy Eduardo</span> Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Eligendi fuga repudiandae itaque tempore quae, voluptas
                        suscipit quidem, odit hic illum, sed voluptate. Culpa, dolore? Cum nostrum
                        veniam voluptates corrupti excepturi.
                    </p>
                   -->

        </section>
    </div>


    <div class="container">
        <section id="Skills" class="Skills">
            <div class="contenido-seccion">
                
                <h2>Habilidades</h2>
                <p>Estas son algunas de mis habilidades, tanto técnicas como blandas, con las que cuento para el ámbito profesional.</p>
                <div class="row">

                    <div class="col-lg-4 mt-5">
                        <h3>Front-End</h3>
                        <div class="skill ">
                            <span class="fs-5"><i class="pe-2 uil uil-java-script"></i>JavaScript</span>
                            <div class="barra-skill">
                                <div class="progress mb-3" style="height: 20px">
                                    <div class="progress-bar bg-warning" style="height: 20px" role="progressbar"
                                        aria-label="Warning example" style="width: 70%" aria-valuenow="75"
                                        aria-valuemin="0" aria-valuemax="100">Avanzado
                                    </div>
                                </div>


                            </div>
                            <span class="fs-5"><i class="pe-2 fa-brands fa-css3-alt"></i>CSS</span>
                            <div class="barra-skill">
                                <div class="progress mb-3" style="height: 20px">
                                    <div class="progress-bar bg-warning" role="progressbar" aria-label="Warning example"
                                        style="width: 40%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                                        Basico</div>
                                </div>

                            </div>
                            <span class="fs-5"><i class="pe-2 uil uil-html5"></i>HTML</span>
                            <div class="barra-skill" >
                                <div class="progress mb-3" style="height: 20px">
                                    <div class="progress-bar bg-warning" role="progressbar" aria-label="Warning example"
                                        style="width: 65%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                                        intermedio</div>
                                </div>

                            </div>
                            <span class="fs-5"><i class="pe-2 uil uil-react"></i>React</span>
                            <div class="barra-skill">
                                <div class="progress mb-3" style="height: 20px">
                                    <div class="progress-bar bg-warning" role="progressbar" aria-label="Warning example"
                                        style="width: 60%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                                        Basico</div>
                                </div>

                            </div>
                            <span class="fs-5"><i class="pe-2 fa-brands fa-angular"></i>Angular - TypeScript</span>
                            <div class="barra-skill">
                                <div class="progress mb-3" style="height: 20px">
                                    <div class="progress-bar bg-warning" role="progressbar" aria-label="Warning example"
                                        style="width: 45%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                        Basico</div>
                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="col-lg-4 mt-5">
                        <h3>Back-End</h3>
                        <div class="skill">
                            <span class="fs-5">ASP.NET </span>
                            <div class="barra-skill">
                                <div class="progress mb-3" style="height: 20px">
                                    <div class="progress-bar bg-info" role="progressbar" aria-label="Info example"
                                        style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                        Intermedio
                                    </div>
                                </div>


                            </div>

                            <span class="fs-5">C#</span>
                            <div class="barra-skill">
                                <div class="progress mb-3" style="height: 20px">
                                    <div class="progress-bar bg-info" role="progressbar" aria-label="Info example"
                                        style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                        Intermedio
                                    </div>
                                </div>
                            </div>
                            

                            <span class="fs-5"><i class="pe-2 uil uil-database"></i>Microsoft SQL Server</span>
                            <div class="barra-skill">
                                <div class="progress mb-3" style="height: 20px">
                                    <div class="progress-bar bg-info" role="progressbar" aria-label="Info example"
                                        style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                        Intermedio
                                    </div>
                                </div>


                            </div>
                            <span class="fs-5"><i class="pe-2 uil uil-github-alt"></i>Github</span>
                            <div class="barra-skill">
                                <div class="progress mb-3" style="height: 20px">
                                    <div class="progress-bar bg-info" role="progressbar" aria-label="Info example"
                                        style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                        Intermedio
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-5">
                        <h3>Soft-Skills</h3>
                        <div class="skill">
                            <span class="fs-5"><i class="pe-2 uil uil-book-open"></i>Autodidácta</span>
                            <div class="barra-skill">
                                <div class="progress mb-3" style="height: 20px">
                                    <div class="progress-bar bg-success" role="progressbar" aria-label="Info example"
                                        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>


                            </div>

                            <span class="fs-5"><i class="pe-2 fa-solid fa-people-carry-box"></i>Colaborativo</span>
                            <div class="barra-skill">
                                <div class="progress mb-3" style="height: 20px">
                                    <div class="progress-bar bg-success" role="progressbar" aria-label="Info example"
                                        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>


                            </div>
                            <span class="fs-5"><i class="pe-2 fa-sharp fa-solid fa-handshake"></i>Compromiso</span>
                            <div class="barra-skill">
                                <div class="progress mb-3" style="height: 20px">
                                    <div class="progress-bar bg-success" role="progressbar" aria-label="Info example"
                                        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>


                            </div>

                            <span class="fs-5"><i class="pe-2 fa-solid fa-puzzle-piece"></i>Resolucion de Problemas</span>
                            <div class="barra-skill">
                                <div class="progress mb-3" style="height: 20px">
                                    <div class="progress-bar bg-success" role="progressbar" aria-label="Info example"
                                        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>


                            </div>
                            <span class="fs-5"><i class="pe-2 fa-solid fa-user-gear"></i>Pensamiento crítico</span>
                            <div class="barra-skill">
                                <div class="progress mb-3" style="height: 20px">
                                    <div class="progress-bar bg-success" role="progressbar" aria-label="Info example"
                                        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                </div>

            </div>


        </section>
    </div>

    <div class="container">
        <section id="Portfolio" class="Portfolio">
            <div class="contenido-seccion">
                <h2>Proyectos</h2>
                <p>Algunos de los proyectos en los que he trabajado implementando diversas tecnologías.</p>
                <div class="work-list">
                    <div class="work">
                        <img src="assets/Visor.png">
                        <div class="layer">
                            <h3>Visor de Productos</h3>
                            <p> Pagina diseñada para la visualizacion de modelos y cambios de componentes del mismo
                                para darle una personalizacion propia al diseño final para la personalizacion.
                                Se utlizaron tecnologias como ThreeJS, JavaScript, HTML y CSS.

                               </p>



                            <div class="row">
                                <a href="https://amaurysbaezm.github.io/Visor-de-Producto/" target="_blank"
                                    rel="noopener noreferrer" title="Live Demo"><i class="uil uil-airplay"></i></a>
                                <a href="https://github.com/AmaurysBaezM/Visor-de-Producto" target="_blank"
                                    rel="noopener noreferrer" title="Repositorio"><i
                                        class="uil uil-external-link-alt"></i></a>
                            </div>




                        </div>
                    </div>
                    <div class="work">
                        <img src="assets/Robot2.png">
                        <div class="layer">
                            <h3>Modelado en Realidad Aumentada</h3>
                            <p>Se trata de una aplicacion de Android utilizando la libreria 
                                Vuforia para poder hacer uso de la realidad Aumentada, 
                                esta se realizo utilizando tecnologías como C# y Unity.
                                </p>
                                <div class="row">
                                   
                                    <a href="https://github.com/AmaurysBaezM/Mostrador-en-Realidad-Aumentada" target="_blank"
                                        rel="noopener noreferrer" title="Repositorio"><i
                                            class="uil uil-external-link-alt"></i></a>
                                </div>
                        </div>


                    </div>
                    <div class="work">
                        <img src="assets/Port.png">
                        <div class="layer">
                            <h3>Portafolio</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem sint totam quas
                                laborum dolores aperiam? Maxime doloremque soluta dolor unde? Omnis, ducimus. Ea ex
                                quasi suscipit aperiam ipsum, repudiandae et.</p>
                                <div class="row">
                                    <a href="https://amaurysbaezm.github.io/Portfolio/" target="_blank"
                                        rel="noopener noreferrer" title="Live Demo"><i class="uil uil-airplay"></i></a>
                                    <a href="https://github.com/AmaurysBaezM/Portfolio/" target="_blank"
                                        rel="noopener noreferrer" title="Repositorio"><i
                                            class="uil uil-external-link-alt"></i></a>
                                </div>
                        </div>


                    </div>

                </div>


            </div>


        </section>
    </div>

    <div class="container">
        <section id="Contact">
            <div class="row">
                <div class="contact-left">
                    <h1 class="sub-title">Contactame</h1>
                    <p><i class="uil uil-message"></i>amaurysbaezm@gmail.com</p>
                    <p><i class="uil uil-phone"></i>829-602-8224</p>
                    <a href="https://drive.google.com/uc?export=download&id=19SaVzIftFBrTPfFFX848w7G7bb_uRrVv" download class="boton btn2">Descargar CV</a>
                </div>
                <div class="contact-right">
                    <form name="submit-to-google-sheet" method="post" (submit)="GuardarDatos($event)" >
                        <input type="text" name="Name" placeholder="Nombre" required>
                        <input type="email" name="Email" placeholder="Correo" required>
                        <textarea name="Mensaje" rows="6" placeholder="¡Dejame un mensaje!"></textarea>
                        <button class="boton btn2" type="submit" >Enviar</button>

                    </form>
                    <span class="Msg"> {{Mensaje}}</span>
                </div>
            </div>
        </section>
    </div>

</main>